/* In this exercise we will create a web page using parallax scrolling (effect of parallax or parallax). To carry out this project you have to create a web page. The page has to have at least two images. When the page is executed,
an image should be displayed in the background with a small message in the center of the page. when progress is made Down the page,
you should see a black block with the message of your choice. Finally,
if you scroll to the bottom of the page,
you should see the second image with another message also in the center. You can use any images you want. 
*/


body {
    margin: 0;
    padding: 0;
    color: aliceblue;
}

h1 {
    text-align: center;
    font-size: 6em;
    font-family: monospace;
    margin: 0;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    text-align: center;
    top: 50%;
    margin: 0;
    padding: 0;
    position: relative;
}

.block-title {
    background-color: black;
    color: white;
    height: 100px;;
}

.parallax {
    background-color: darkblue;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.text {
    width: 60%;
    margin: 0 auto;
}

#img-one {
    background-image: url( "../ex02_doft/resources/teen-boy-and-black-cat-on-street-1.png");
}

#img-two {
    background-image: url("../ex02_doft/resources/teen-boy-and-black-cat-on-street-2.png");
}


