@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #fff;
    font-family: 'Tilt Neon', sans-serif;
    color: #424242;
    font-size: 16px;
}

img {
    max-width: 100%;
    height: auto;
}

.contianer {
    display: block;
    background-color: #f6f6f6;
    width: 100vw;
    height: auto;
}
/* header */
.header {
    display: flex;
    background-color: #424242;
    color: #fff;
    padding: 10px;
    margin: 0;
    align-items: center;
    text-align: right;
}

.header-left {
    display: inline-block;
    width: 30vw;
}

.header-left img {
    border-radius: 50%;
    border: 2px solid #fff;
    padding: 15px;
    margin: 0.2rem 0;
}

.header-right {
    display: inline-block;
    width: 70vw;
    text-align: left;
}

.header-right hr {
    border: 1px solid #fff;
    margin: 0.2rem 0;
}

.header-right h1,h2,p {
    margin: 0.2rem 0;
    padding-left: 20px;
    font-weight: 400;
}

.header-right h1 {
    font-size: 4em;
    
}
/* content */
.content {
    display: flex;
    width: 100dvw;
    height: auto;
}

.content h3 {
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    align-items: center;
    font-weight: 800;
    font-size: 1.5rem;
}

.content h4 {
    font-size: 1.2rem;
}

.content h5 {
    font-size: 1rem;
}

.content h6 {
    font-size: 0.8rem;
}
.content h4,h5,h6 {
    text-align: left;
    align-items: center;
    font-weight: 700;
    padding: 10px;
    margin: 0.2rem 0;
}

.content-right {
    display: inline-block;
    width: 70vw;
}

.content-right hr {
    border: 1px hidden;
    margin: 2rem 0;
}
.content-right h3 {
    border: solid 1px;
    border-inline: 1rem solid #424242;
    writing-mode: horizontal-tb;
    direction: rtl;

}

.content-right p {
    text-align: left;
    align-items: center;
    font-weight: 400;
    padding: 1rem;
    margin: auto 1rem;
    font-size: 1rem;
    text-indent: 2rem;
}

.content-left {
    display: inline-block;
    background-color: #c6c6c6;
    width: 30vw;
    height: auto;
}
ul {
    list-style: none;
    font-weight: 400;
    padding: 10px;
}

ul#contact-tab li.email-icon, li.github-icon, li.linkedin-icon {
    padding: 10px 30px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
}

ul#contact-tab li.email-icon {
    background-image: url(./images_resume/email.png);
}

ul#contact-tab li.github-icon {
    background-image: url(./images_resume/github-logo.png);
}

ul#contact-tab li.linkedin-icon {
    background-image: url(./images_resume/linkedin.png);
}

.content-left a {
    border-bottom: none;
    color: #424242;
    padding-bottom: .25em;
    text-decoration: none;
}

.content-left a:hover {
    color: #000;
}

ul#skills-tab li{
    position: relative;
    width: 100%;
    border-radius: 4px;
    background-color: #f6f6f6;
    margin-bottom: 0.5em;
    color: #424242;
    text-align: left;
    

    .skill-percent-tab {
        background-color: #424242;
        position: absolute;
        color: #f6f6f6;
        text-overflow: clip;
        overflow: hidden;
    }

    .skill-percent100 {
        width: 100%;
    }

    .skill-percent80 {
        width: 80%;
    }
    
    .skill-percent70 {
        width: 70%;
    }

    .skill-percent60 {
        width: 60%;
    }

    .skill-percent50 {
        width: 50%;
    }

    .skill-percent50 {
        width: 50%;
    }

    .skill-percent40 {
        width: 40%;
    }

    .skill-percent30 {
        width: 30%;
    }

    .skill-percent20 {
        width: 20%;
    }

    .skill-percent10 {
        width: 10%;
    }

    .skill-percent0 {
        width: 0%;
    }
}  
/* footer */
.footer {
    display: block;
    background-color: #424242;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin: 0;
    font-size: 0.5rem;
    align-items:last baseline;
}

.footer hr {
    border: 0px hidden;
    margin: 0.2rem 0;
}